<h1>Busiest workers!</h1>

<h2><%= @busiest_worker.name %> is the busiest worker with <%= @busiest_worker.assigned_projects_count %> projects! </h2>
<h2><%= @busiest_project_owner.name %> owns the most projects with <%= @busiest_project_owner.pet_projects_count%>! </h2>
