<div class="row">
  <div class="user-display col-6">
    <%= render @user %>
  </div>
  <div class="user-display col-6">
    <div id="quick-view">
      <%= button_to "Users Index Quick View", class: "user-quick-view" %>
  </div>
  </div>
</div>
<% if current_user.outranks?(@user) %>
  <%= render partial: 'assignments/assign_projects_to_worker', locals: {worker: @user, assignment: @assignment} %>
<% end %>

<%= button_to "Edit #{@user.name}", edit_user_path, method: 'get' if current_user.can_edit_user?(@user)%>
