<!-- <br> users/show <br> -->
<div class="user-display">
  <%= render @user %>
</div>

<% if current_user.outranks?(@user) %>

  <%= render partial: 'assignments/assign_projects_to_worker', locals: {worker: @user, assignment: @assignment} %>
  <%= button_to "Edit #{@user.name}", edit_user_path, method: 'get' %>
<% end %>
