<!-- <br> projects/index <br> -->

<h1>List of all projects:</h1>

  <% @projects.each do |project| %>
  <div class="project-display">

    <%= render partial: 'projects/project', locals: {project: project} %>

    </div>
  <% end %>
