  <div id=note-{{id}}>
    <li class="note-display" id=note-{{id}}>
      <p>{{content}}</p>
      <p>Posted by <%#= current_user.name if current_user %> at {{created_at}}</p>

        <form class="delete-note" method="post" action="/notes/{{id}}">
          <input type="hidden" name="_method" value="delete">
          <input id="delete-note-{{id}}" type="submit" value="Delete Note">
          <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
        </form>
    </li>
  </div>
