  <div class="project-display">
    <ul>
      <h3>{{name}}</h3>
      <li>Location: {{location}}</li>
      <li>Description: {{description}}</li>
      <li>Owner: {{owner.name}}</li>
      <li>Due Date: {{due_date}}</li>
      <li>Status: {{status}}</li>
      <ul>
        <h6>---Workers:---</h6>
          {{#each workers}}
        <li>{{name}}</li>
          {{/each}}
      </ul>
      <ul>
        <h6>---Notes:---</h6>
          {{#each notes}}
        <li>{{content}}</li>
          {{/each}}
      </ul>
      <ul>
        <h6>---Tools:---</h6>
          {{#each tools}}
        <li>{{name}}</li>
          {{/each}}
      </ul>

    </ul>
    <%#= button_to "X", projects_path, method: :get, id: "hide-{{id}}", class: "hide-proj" %>
    <form class="button_to" method="get" action="/projects"><input id="hide-{{id}}" class="hide-proj" type="submit" value="X"></form>
  </div>
